/*reset function*/

body,h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
}
li {
    display: inline-block;
}
.container{
    width: 986px;
    clear: both;
    content: "";
}

/*header_slider section*/
#curosel {
    padding-bottom: 726px;
}
#curosel .panel_curosel .position img {
    width: 600px;
    height: 600px;
    float: right;
    padding-top: 26px;
    position: relative;
}
#curosel .panel_curosel .position1 img {
    height: 550px;
    float: right;
    position: absolute;
    right: 136px;
    top: 176px;
}
.panel_curosel figure{
    position: relative;
}
.panel_curosel figure figcaption {
    width: 613px;
    position: absolute;
    top: 310px;
    left: 191px;
}
.panel_curosel figcaption img {
    position: relative;
    width: 140px;
    height: 140px;
}
.panel_curosel figcaption .panel_title {
    position: absolute;
    top: 17px;
    left: 10px;
}
.panel_curosel figcaption .panel_title h3 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 44px;
    line-height: 1.2em;
    color: #444444;
}
.panel_curosel figure figcaption p {
    font-size: 13px;
    color: #ababab;
    padding-bottom: 30px;
}
button {
    font-size: 16px;
    padding: 8px 18px;
}
.carousel-indicators {
    bottom: -44px;
    left: 29px;
}
.carousel-indicators .active {
    width: 16px;
    height: 2px;
    background-color: #444444;
    border: 1px solid #444;
}
.carousel-indicators li {
    width: 16px;
    height: 2px;
    cursor: pointer;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
}


/*navbar start*/

header {
    background-color: #2a2a2a;
}
nav {
    float: right;
    padding: 28px 145px 0 0;
}
#navbar .panel_navbars header img {
    padding: 20px 0 20px 190px;
}
#navbar .panel_navbars header nav ul li a {
    text-decoration: none;
    padding-right: 35px;
    color: #ffffff;
    font-size: 14px;
}
#navbar .panel_navbars header nav ul li a:hover{
    color: #f1d803;
}
#navbar .panel_navbars header nav ul .active a{
    color: #f1d803;
    background-color: #2a2a2a;
}

/*about start*/

#about .panel_about .panel_title {
    width: 700px;
    margin-left: 23.33%;
    position: relative;
}
#about .panel_about .panel_title h2 {
    font-size: 91px;
    font-weight: bold;
    color: #e8e8e8;
    padding-top: 75px;
    position: relative;
}
#about .panel_about .panel_title h3 {
    font-size: 36px;
    color: #444444;
    position: absolute;
    top: 125px;
    left: 93px;
    font-weight: bold;
    text-transform: uppercase;
}
#about .panel_about .panel_title p {
    font-size: 16px;
    color: #919191;
    padding-top: 35px;
}
#about .panel_about img{
    height: 600px;
    position: absolute;
    top: 965px;
}
.panel_button {
    padding-top: 60px;
    padding-bottom: 70px;
}
#about .panel_about .panel_title button:first-child {
    background-color: #000000;
    color: #ffe400;
    font-size: 18px;
    padding: 12px 40px;
    border: 1px solid #000;
    margin-right: 15px;
}
#about .panel_about .panel_title button:last-child {
    background-color: #000000;
    color: #ffe400;
    font-size: 18px;
    padding: 12px 15px;
    border: 1px solid #000;
}
#about .panel_about .panel_title button:hover{
    background-color: #f1d803;
    color: #000000;
    border: 1px solid #f1d803;
}
#about .container .panel_servics .col-md-4 {
    background-color: #000000;
    width: 32.33%;
    padding: 0;
    margin-left: 9px;
    height: 400px;
    position: relative;
}
#about .container .panel_servics .col-md-4 figure i {
    font-size: 120px;
    margin-left: 104px;
    margin-top: 62px;
    margin-bottom: 80px;
    color: #f1d803;
}
#about .container .panel_servics .col-md-4 figure h4 {
    text-align: center;
    color: #ffffff;
    padding-bottom: 70px;
}
#about .container .panel_servics .col-md-4  p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
#about .container .panel_servics .col-md-4 figcaption{
    background-color: #f1d803;
    position: absolute;
    border: 2px solid #f1d803;
    height: 400px;
    top: 0;
    display: none;
}
#about .container .panel_servics .col-md-4 figcaption i {
    font-size: 120px;
    margin-left: 104px;
    margin-top: 50px;
    margin-bottom: 36px;
    color: #ffffff;
}
#about .container .panel_servics .col-md-4 figcaption h4 {
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}
#about .container .panel_servics .col-md-4 figcaption p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 54px;
}
#about .container .panel_servics .col-md-4:hover figcaption{
    display: block;
}

hr{
    margin: 0;
    border: 1px solid #d6d6d6;
}
.last_panel{
    padding-bottom: 140px;
}
#about .last_panel h4 {
    text-align: center;
    font-size: 25px;
    color: #444444;
    font-weight: bold;
    padding-top: 150px;
    padding-left: 250px;
}
#about .last_panel img {
    float: right;
    padding-top: 55px;
}




/*responsive start*/
#responsive {
    background-color: #fafafa;
    padding-bottom: 610px;
}
#responsive .panel_responsive .col-md-4 {
    padding-left: 45px;
    padding-right: 20px;
}
#responsive .panel_responsive .col-md-4 h2{
    font-size: 60px;
    font-weight: bold;
    color: #f0f0f0;
    text-transform: uppercase;
    padding-top: 180px;
    position: relative;
}
#responsive .panel_responsive .col-md-4 h3{
    font-size: 22px;
    color: #444444;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 215px;
    left: 48px;
}
#responsive .panel_responsive .col-md-4 h5{
    font-size: 15px;
    color: #7e7e7e;
    padding-top: 30px;
}
#responsive .panel_responsive .col-md-4 p {
    font-size: 14px;
    color: #7e7e7e;
    line-height: 2.2em;
}
.glyphicon.glyphicon-star {
    padding-right: 10px;
}
#responsive .panel_responsive .col-md-4 button {
    background-color: #ffe400;
    border: 1px solid #ffe400;
    color: #000000;
    font-weight: bold;
    padding: 10px 17px;
}
#responsive .panel_responsive .col-md-6 img {
    width: 450px;
}


/*content start*/
#content{
    width: 100%;
    height: 637px;
}




#content .panel_content img{
    width: 100%;
    height: auto;
    position: relative;
}
#content .panel_content .container h3{
    font-size: 44px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fdfdfd;
}
#content .panel_content .container {
    position: relative;
    top: -453px;
    right: 11px;
}
#content .panel_content .container p{
    font-size: 16px;
    color: #fdfdfd;
    padding: 25px 130px;
}
#content .panel_content .container .panel_button button{
    background-color: transparent;
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
}
#content .container .panel_button{
    padding: 0;
    margin-top: 32px;
}
#content .container .panel_button button:first-child{
    padding: 8px 40px;
    margin-right: 10px;
}
#content .panel_content .container .panel_button button:hover{
    background-color: #ffe400;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
}


/*Features start*/

#content{
    position: relative;
}
#Features{
    background-color: #ffffff;
    position: relative;
    top: -120px;
}
#Features .panel_Features .container h2 {
    font-size: 80px;
    color: #f0f0f0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    position: relative;
}
#Features .panel_Features .container h3 {
    font-size: 23px;
    color: #444444;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -37px;
    padding-bottom: 65px;
}
#Features .panel_Features .container .row .col-md-4{
    padding: 0;
    margin-bottom: 55px;
}
#Features .panel_Features .container .row:last-child{
    margin-bottom: 0px;
}
#Features .panel_Features .container .row .panel_title {
    float: right;
    width: 243px;
}
#Features .panel_Features .container .row .panel_title h5{
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}
#Features .panel_Features .container .row .panel_title p{
    color: #757575;
    font-size: 14px;
    line-height: 1.6em;
}